//color

$bg-dark : #dededd;
//option
$enable-fluid-layout:            false;

// main layout
$header-bg:     $white;
$footer-bg:     $white;
$wrapper-bg:    #f1f1f1;
//product miniature

$pm-title-color:      $gray-700;
$pm-title-font-size:      $font-size-base;
$pm-title-font-weight:      400;

//cart
$promo-code-bg:       darken($body-bg,10%);

//offcanvas
$zindex-offcanvas :   $zindex-modal;
$offcanvas-width :       300px;

//product slider
$product-thumb-margin:          5px;
$product-thumb-width:           100px;
$product-thumb-height:          100px;
$product-to-show:               3;//if you edit this, you have to add centerPadding ppy in data-slick with same value
$product-thumb-wrap-width:      $product-to-show * ($product-thumb-width + 2 * $product-thumb-margin) - 2 * $product-thumb-margin;
$product-thumb-wrap-width-2:    2 * ($product-thumb-width + 2 * $product-thumb-margin) - 2 * $product-thumb-margin;
$product-thumb-wrap-height:     $product-thumb-height + $product-thumb-margin * 2;



