//color

$bg-dark : #dededd;
//option
$enable-fluid-layout:            false;

// main layout
$header-bg:     $white;
$footer-bg:     $white;
$wrapper-bg:    #f1f1f1;
//product miniature

$pm-title-color:      $gray-700;
$pm-title-font-size:      $font-size-base;
$pm-title-font-weight:      400;

//cart
$promo-code-bg:       darken($body-bg,10%);

//offcanvas
$zindex-offcanvas :   $zindex-modal;
$offcanvas-width :       300px;

