//color

$bg-dark : #dededd;
//option
$enable-fluid-layout:            false;

// main layout
$header-bg:     $white;
$footer-bg:     $white;
$wrapper-bg:    #f1f1f1;
//product miniature

$pm-title-color:      $gray-700;
$pm-title-font-size:      $font-size-base;
$pm-title-font-weight:      400;

//cart
$promo-code-bg:       darken($body-bg,10%);

//offcanvas
$zindex-offcanvas :   $zindex-modal;
$offcanvas-width :       300px;

//product slider
$product-thumb-margin:5px;
$product-thumb-width:100px;
$product-thumb-height:100px;
$product-to-show:3;
$product-thumb-wrap-width:($product-thumb-width * $product-to-show + (2*$product-thumb-margin*$product-to-show));
$product-thumb-wrap-height:($product-thumb-height + (2*$product-thumb-margin*$product-to-show));


